@import url('https://fonts.googleapis.com/css?family=Ubuntu');

@keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 0.80; }
}


@-webkit-keyframes WavyGrad {
    0%{background-position:47% 0%}
    50%{background-position:54% 100%}
    100%{background-position:47% 0%}
}
@-moz-keyframes WavyGrad {
    0%{background-position:47% 0%}
    50%{background-position:54% 100%}
    100%{background-position:47% 0%}
}
@-o-keyframes WavyGrad {
    0%{background-position:47% 0%}
    50%{background-position:54% 100%}
    100%{background-position:47% 0%}
}
@keyframes WavyGrad {
    0%{background-position:47% 0%}
    50%{background-position:54% 100%}
    100%{background-position:47% 0%}
}

html {
	margin: 0;
	padding: 0;
	}
body { 

    font-family: 'Ubuntu', sans-serif;
	color: orange; 
    text-align: center;
	margin: 0; 
	padding: 0;
    line-height: 1.8;
    background: linear-gradient(173deg, #2fd9ad, #24a6da, #c324da, #da8024, #e64646);
    background-size: 1000% 1000%;
    -webkit-animation: WavyGrad 35s ease infinite;
    -moz-animation: WavyGrad 35s ease infinite;
    -o-animation: WavyGrad 35s ease infinite;
    animation: WavyGrad 35s ease infinite;
}

h1 {
    color: white;
    font-size: 70px;
}
#ubuapp {
    border-radius: 50px;
    opacity: 0.80;
    background: white;
    animation-name: fade-in;
    animation-duration: 5s;
    padding: 0px 0px 50px 0px;
    
}
.header {
    padding: 50px 0px 0px 0px;
}
.closing {
    color: white;
    font-size: 15px;
}
#currentStatus {
    color: green;
    font-size: 100px;
    opacity: 5.0;
    padding: 75px 0px 0px 0px;
}

#time {
    color: black;
    padding: 0px 0px 25px 0px;
}